*.jpg
*.jpeg

*.DS_Store

*.npy
*.pyc

*.pdf
*.fits

*.aux
*.log
*.out
*.gz
*.bbl
*.brf
*.blg

*.ipynb_checkpoints/sandbox-checkpoint.ipynb
*.ipynb_checkpoints/*

figures/
clustering/
synthetic_photometry_wilber.ipynb

